*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contain{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    text-align: center;
    background-image: linear-gradient(to right, rgb(128, 11, 34),crimson, rgb(128, 11, 34));
    height: 100vh;font-size: 50px;
    padding-top: 270px;
}
.inp{
    padding: 10px 30px;
}
